en/content.dtd

<!ELEMENT content (title,about,about_content,cv,cv_content,video,copyright)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT about (#PCDATA)>
<!ELEMENT about_content (#PCDATA)>
<!ELEMENT cv (#PCDATA)>
<!ELEMENT cv_content (a)>
<!ELEMENT a (#PCDATA)>
<!ATTLIST a href NMTOKEN #REQUIRED>
<!ELEMENT video (#PCDATA)>
<!ELEMENT copyright (#PCDATA)>