ja/content.dtd

<!ELEMENT content (title,homepage,cv,about,about_content,video,copyright)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT homepage (#PCDATA)>
<!ELEMENT cv (#PCDATA)>
<!ELEMENT about (#PCDATA)>
<!ELEMENT about_content (#PCDATA)>
<!ELEMENT a (#PCDATA)>
<!ATTLIST a href NMTOKEN #REQUIRED>
<!ELEMENT video (#PCDATA)>
<!ELEMENT copyright (#PCDATA)>